<br />
<br />


<div class="container row">
    <div class="col-12 text-center">
        <h2>Opps!!! Transaction Cancleled !</h2>
        <br />
        <img src="~/img/fail-icon.png" style="width:25%" />
    </div>
    <h3 class="col-12 text-center" style="color: darkred">
        <br />
        Thank you for shopping with US. Please visit Again !!!
        <br />
    </h3>
</div>
